
.home-main__top-wrapper {
	margin-top: 4rem;
}

.home {
	section {
		margin-bottom: 8rem;

		&:last-of-type {
			margin-bottom: 0rem;
		}
	}

	.home-main__top-wrapper {
		margin-top: 0
	}
}

.home-main {
	width: 100%;

	&__h1 {
		@include fluid-type($min_width, $max_width, 14px, 22px);
		text-align: center;

		margin: 2rem 0;

		@media screen and (min-width: 992px) {
			margin: 3rem 0;
		 }

	}

	&__top-wrapper {
		display: flex;
	}

	.welcome-view {
		margin-bottom: 4rem;
	}

	.special-categories-menu {
		margin-bottom: 1rem;
	}
}

.home-about {
	display: flex;
	flex-flow: column;

	@media screen and (min-width: 992px) {
		flex-flow: row;
		padding-top: 4rem;
	 }

	 .image-holder {

		 @media screen and (min-width: 992px) {
			 width: 40%;
			 order: 1;
		  }
	 }

	 .content {

		margin-bottom: 3rem;
		
		@media screen and (min-width: 1400px) {
			padding-right: 10rem;
		}

		h2 {
			margin-top: 0;
			text-align: center;
			margin-bottom: 3rem;

			@media screen and (min-width: 992px) {
				text-align: left;
				margin-bottom: 2rem;
			 }
		}

		@media screen and (min-width: 992px) {
			width: 60%;
			padding: 1rem 3rem;
			order: 2;
			margin-bottom: 0;
		 }
	 }
}

.home-clients-reviews {

	.single-review {
		flex: 1 0 0;
		display: flex;
		flex-flow: column;
		justify-content: space-between;

		p {
			line-height: 1.75;

		}

		svg {
			width: 65px;
			padding: 0 4px;
			fill: $color_dark_blue;
			float: left;
			margin-top: -10px;
			margin-right: 10px;
		}

		@media screen and (max-width: 992px) {
			border-bottom: 1px solid $color__border-element;
			padding: 2rem 0;

			&:last-of-type {
				padding-bottom: 0;
				border-bottom: none;
			}
		 }

	}

}