.main-carousel {
	margin-bottom: 1rem;

	.swiper-slide {
		background-repeat: no-repeat;
		background-size: cover;

		@media screen and (max-width: 992px) {
			background-position: center;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(1, 34, 65, 0.35);
			transition: all 0.4s ease-in-out;
			z-index: -1;
		}

		&__link {
			transform: scale(1);
			transition: all 0.3s ease-in-out;
			// height: 100%;
			// width: 100%;

			img {
				display: block;
			}

			&:hover {
				color: inherit !important;

				transform: scale(1.025);
			}
		}

		&:hover {
			&:after {
				background-color: rgba(1, 34, 65, 0.25);
			}
		}
	}

	.swiper-container {
		height: 100%;
		border-radius: 5px;
	}

	.swiper-scrollbar {
		display: none;
	}

	.swiper-button-prev,
	.swiper-button-next {
		color: rgba(255, 255, 255, 0.699) !important;
		padding: 2em;
		margin: 0;
		transform: translateY(-50%);

		&:after {
			font-size: 1.75rem;
		}

		@media screen and (max-width: 992px) {
			padding: 0;
			display: none;

			&:after {
				font-size: 1.25rem;
			}
		}
	}

	.swiper-pagination-bullet {
		background: rgba(255, 255, 255, 0.699) !important;
	}

	.parallax-title {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		color: white;
		max-width: 65%;
		margin: auto;

		h2 {
			text-align: center;

			@media screen and (max-width: 992px) {
				@include fluid-type($min_width, $max_width, 36px, 45px);
			}

			@media screen and (min-width: 992px) {
				margin: 0 auto 0;
				@include fluid-type($min_width, $max_width, 28px, 36px);
			}
		}

		p {
			position: relative;
			display: flex;
			flex-flow: column;
			font-weight: 400;
			text-align: center;
			margin: 0;

			@media screen and (max-width: 992px) {
				@include fluid-type($min_width, $max_width, 20px, 25px);
			}

			@media screen and (min-width: 992px) {
				@include fluid-type($min_width, $max_width, 18px, 24px);
			}
		}
		p:after {
			content: "";
			background: white;
			height: 1px;
			width: 110%;
			position: absolute;
			left: 50%;
			top: 120%;
			transform: translate(-50%, -50%);

			@media screen and (max-width: 992px) {
				height: 2px;
			}
		}
	}
}

.brands-carousel {
	padding: 4em 0 0;

	@media screen and (max-width: 992px) {
		padding: 0;
	}

	h2 {
		text-align: center;
	}

	.swiper-container-brands {
		overflow: hidden;
		padding-top: 3rem;

		img {
			object-fit: contain;
			height: auto;
			max-height: 50px;
			width: 150px;
		}
	}

	.swiper-wrapper {
		transition-timing-function: linear !important;
		align-items: center;
	}

	.swiper-slide {
		margin: 0 1em;
	}
}

.categories-carousel {
	@media screen and (max-width: 992px) {
		margin-bottom: 7em;
		text-align: center;
	}

	@media screen and (min-width: 992px) {
		overflow: hidden;
	}

	.swiper-pagination-categories {
		margin: 1.5em 0 1.5em;
		position: static;
		padding-top: 0.25em;
		display: flex;
		justify-content: center;

		@media screen and (min-width: 992px) {
			text-align: left;
		}

		@media screen and (max-width: 992px) {
			justify-content: space-between;
			padding: 1em 0;
		}
	}

	.swiper-pagination-bullet {
		// width: auto;
		background: transparent;
		margin: 0.5em 2em !important;
		opacity: 1;
		@include fluid-type($min_width, $max_width, 14px, 16px);
		height: 32px;
		border-radius: 15px;
		padding: 0.25em 2em;
		color: $color_dark_blue;
		position: relative;
		// width: 200px;
		width: 45%;
		text-align: center;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
		transition: all 0.2s ease-in-out;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;

		@media screen and (max-width: 992px) {
			margin: 0 0.5em !important;
			padding: 0.25em 1em;
		}
	}

	.swiper-pagination-bullet-active {
		background: $color_dark_blue;
		color: $color_white_text;
		// box-shadow: inset 0 0px 0px rgb(0 0 0 / 8%),
		// 	0px 0px 15px rgb(102 175 233 / 69%);
	}

	ul.products {
		@media screen and (max-width: 992px) {
			padding: 2em 0em 1em 0em;
		}
	}
}
