/*
 * Foundation 5 Grid
 */

.txt-centered {
	padding: 3em 0;
	text-align: center;
}

.wrapper-flex-column {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.wrapper-flex-row {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.wrapper-flex-row-around {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.flex-wrapper-mrow-dcol {
	display: flex;
	flex-flow: column;

	@media screen and (min-width: 992px) {
		flex-flow: row;
	 }
}

.space-between {
	justify-content: space-between;
}

.col-gap {
	&--4 {
		column-gap: 4em;
	}

	&--8 {
		column-gap: 8em;
	}

}